/*My CSS default reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    color: #edf2f4;
}

body {
    min-height: 100vh;
    font-family: "Finger Paint";
    font-size: 1.2rem;
    background-color: #2b2d42;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

main {
    border: 1px solid #2b2d42;
    margin: auto;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #2b2d42;
}

h1,
h2 {
    text-align: center;
    font-size: 2rem;
}
h1{
    margin-top: 30px;
    margin-bottom: 20px;
}

.button button {
    flex: 1;
    max-width: 250px;
    border: 5px solid #edf2f4;
    background-color: #2b2d42;
}

.button #X,
.button #O {
    font-size: 2rem;
}
.button #reset{
    margin-bottom: 30px;
}
.button {
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.Game-board {
    position: relative;
    margin: 5px;
}

.Game-board:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2b2d42;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

.spot {
    
    font-size: 18vw;
    text-align: center;
}

.content :nth-child(1){
    border-right: 4px solid #faa307;
    border-bottom: 4px solid #faa307;
}
.content :nth-child(2){
    border-bottom: 4px solid #faa307;
}
.content :nth-child(3){
    border-left: 4px solid #faa307;
    border-bottom: 4px solid #faa307;
}
.content :nth-child(4){
    border-right: 4px solid #faa307;
    border-bottom: 4px solid #faa307;
}
.content :nth-child(5){
    border-bottom: 4px solid #faa307;
}
.content :nth-child(6){
    border-left: 4px solid #faa307;
    border-bottom: 4px solid #faa307;
}
.content :nth-child(7){
    border-right: 4px solid #faa307;
    
}
.content :nth-child(9){
    border-left: 4px solid #faa307;
}


.disabled-spot {
    pointer-events: none;
    }
.winner-display{
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #2b2d42;
    font-size: 10vw;
    text-align: center;
    padding: 20px;
    height: 70%;
    width: 70%;
    left: 15%;
    top: 15%;
}

@media only screen and (min-width: 700px) {
    .spot {
        font-size: 8rem; 
    }
    .winner-display{
        font-size: 4rem;
    }
}